{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Graph Genome </title>
    <link rel="stylesheet" href="https://unpkg.com/higlass@1.11/dist/hglib.css">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/pixi.js@6/dist/browser/pixi.min.js"></script>
    <script src="https://unpkg.com/higlass@1.11/dist/hglib.js"></script>
    <script src="https://unpkg.com/gosling.js@0.9.17/dist/gosling.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container-fluid mainDiv">
        <div class="up row">
            <p class="col-7" id="title"> TFG: GRAPH GENOMES </p>
            <div id="search" class="col-4">
                <label for="search" id="searchLabel"> Search a gen: </label>
                <input type="search" name="search" id="searchInput">
            </div>
        </div>
        <div class="down row">
            <div class="col-2">
                <div class="leftPanel align-items-center">
                    <button class="btn btn-success loadButton"> LOAD DNA </button>
                    <div class="sequence form-switch">
                        <p class="col-auto"> Sample 1 </p>
                        <input class="col-auto displayButton form-check-input" type="checkbox" role="switch"/>
                    </div>
                    <div class="sequence form-switch">
                        <p class="col-auto"> Sample 2 </p>
                        <input class="col-auto displayButton form-check-input" type="checkbox" role="switch"/>
                    </div>
                    <div class="sequence form-switch">
                        <p class="col-auto"> Sample 3 </p>
                        <input class="col-auto displayButton form-check-input" type="checkbox" role="switch"/>
                    </div>
                    <div class="sequence form-switch">
                        <p class="col-auto"> Sample 4 </p>
                        <input class="col-auto displayButton form-check-input" type="checkbox" role="switch"/>
                    </div>
                    <div class="sequence form-switch">
                        <p class="col-auto"> Sample 5 </p>
                        <input class="col-auto displayButton form-check-input" type="checkbox" role="switch"/>
                    </div>
                    <div class="sequence form-switch">
                        <p class="col-auto"> Sample 6 </p>
                        <input class="col-auto displayButton form-check-input" type="checkbox" role="switch"/>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <!--<div class="midPanel align-items-center">-->
                <div class="midPanel">
                  <div id="gosling-container"/>
                </div>
            </div>
            <!--<div class="col-3">
                <div class="rightPanel align-items-center">
                </div>
            </div>-->
        </div>
    </div>


    <script>
      gosling.embed(
        document.getElementById('gosling-container'),
  	  {
    "arrangement": "vertical",
    "views": [
      {
        "static": true,
        "layout": "circular",
        "alignment": "stack",
        "tracks": [
          {
            "alignment": "overlay",
            "data": {
              "url": "https://server.gosling-lang.org/api/v1/tileset_info/?d=cistrome-multivec",
              "type": "multivec",
              "row": "sample",
              "column": "position",
              "value": "peak",
              "categories": ["sample 1", "sample 2", "sample 3", "sample 4"],
              "binSize": 4
            },
            "x": {"field": "start", "type": "genomic"},
            "xe": {"field": "end", "type": "genomic"},
            "y": {"field": "peak", "type": "quantitative"},
            "row": {"field": "sample", "type": "nominal"},
            "color": {"field": "sample", "type": "nominal"},
            "stroke": {"value": "black"},
            "strokeWidth": {"value": 0.3},
            "tracks": [
              {"mark": "bar"},
              {
                "mark": "brush",
                "x": {"linkingId": "detail-1"},
                "color": {"value": "blue"}
              },
              {
                "mark": "brush",
                "x": {"linkingId": "detail-2"},
                "color": {"value": "red"}
              }
            ],
            "style": {"outlineWidth": 0},
            "width": 500,
            "height": 100
          },
          {
            "data": {
              "type": "csv",
              "url": "https://raw.githubusercontent.com/sehilyi/gemini-datasets/master/data/rearrangements.bulk.1639.simple.filtered.pub",
              "headerNames": [
                "chr1",
                "p1s",
                "p1e",
                "chr2",
                "p2s",
                "p2e",
                "type",
                "id",
                "f1",
                "f2",
                "f3",
                "f4",
                "f5",
                "f6"
              ],
              "separator": "\t",
              "genomicFieldsToConvert": [
                {"chromosomeField": "chr1", "genomicFields": ["p1s", "p1e"]},
                {"chromosomeField": "chr2", "genomicFields": ["p2s", "p2e"]}
              ]
            },
            "dataTransform": [
              {
                "type": "filter",
                "field": "chr1",
                "oneOf": ["1", "16", "14", "9", "6", "5", "3"]
              },
              {
                "type": "filter",
                "field": "chr2",
                "oneOf": ["1", "16", "14", "9", "6", "5", "3"]
              }
            ],
            "mark": "withinLink",
            "x": {"field": "p1s", "type": "genomic"},
            "xe": {"field": "p1e", "type": "genomic"},
            "x1": {"field": "p2s", "type": "genomic"},
            "x1e": {"field": "p2e", "type": "genomic"},
            "stroke": {
              "field": "type",
              "type": "nominal",
              "domain": [
                "deletion",
                "inversion",
                "translocation",
                "tandem-duplication"
              ]
            },
            "strokeWidth": {"value": 0.8},
            "opacity": {"value": 0.15},
            "width": 500,
            "height": 100
          }
        ]
      },
      {
        "spacing": 10,
        "arrangement": "horizontal",
        "views": [
          {
            "tracks": [
              {
                "data": {
                  "url": "https://server.gosling-lang.org/api/v1/tileset_info/?d=cistrome-multivec",
                  "type": "multivec",
                  "row": "sample",
                  "column": "position",
                  "value": "peak",
                  "categories": ["sample 1", "sample 2", "sample 3", "sample 4"],
                  "binSize": 4
                },
                "mark": "bar",
                "x": {
                  "field": "start",
                  "type": "genomic",
                  "linkingId": "detail-1",
                  "domain": {"chromosome": "chr5"}
                },
                "xe": {"field": "end", "type": "genomic"},
                "y": {"field": "peak", "type": "quantitative"},
                "row": {"field": "sample", "type": "nominal"},
                "color": {"field": "sample", "type": "nominal"},
                "stroke": {"value": "black"},
                "strokeWidth": {"value": 0.3},
                "style": {"background": "blue"},
                "width": 245,
                "height": 150
              }
            ]
          },
          {
            "tracks": [
              {
                "data": {
                  "url": "https://server.gosling-lang.org/api/v1/tileset_info/?d=cistrome-multivec",
                  "type": "multivec",
                  "row": "sample",
                  "column": "position",
                  "value": "peak",
                  "categories": ["sample 1", "sample 2", "sample 3", "sample 4"],
                  "binSize": 4
                },
                "mark": "bar",
                "x": {
                  "field": "start",
                  "type": "genomic",
                  "domain": {"chromosome": "chr16"},
                  "linkingId": "detail-2"
                },
                "xe": {"field": "end", "type": "genomic"},
                "y": {"field": "peak", "type": "quantitative"},
                "row": {"field": "sample", "type": "nominal"},
                "color": {"field": "sample", "type": "nominal", "legend": true},
                "stroke": {"value": "black"},
                "strokeWidth": {"value": 0.3},
                "style": {"background": "red"},
                "width": 245,
                "height": 150
              }
            ]
          }
        ],
        "style": {"backgroundOpacity": 0.1}
      }
    ]
  }
      );
    </script>
</body>
</html>
