{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Graph Genome </title>
    <link rel="stylesheet" href="https://unpkg.com/higlass@1.11/dist/hglib.css">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/pixi.js@6/dist/browser/pixi.min.js"></script>
    <script src="https://unpkg.com/higlass@1.11/dist/hglib.js"></script>
    <script src="https://unpkg.com/gosling.js@0.9.17/dist/gosling.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container-fluid mainDiv">
        <div class="up row">
            <p class="col-7" id="title"> TFG: GRAPH GENOMES </p>
            <div id="search" class="col-4">
                <label for="search" id="searchLabel"> Search a gen: </label>
                <input type="search" name="search" id="searchInput">
            </div>
        </div>
        <div class="down row">
            <div class="col-2">
                <div class="leftPanel align-items-center">
                    <button class="btn btn-success loadButton"> LOAD DNA </button>
                    <div class="sequence form-switch">
                        <p class="col-auto"> Sample 1 </p>
                        <input class="col-auto displayButton form-check-input" type="checkbox" role="switch"/>
                    </div>
                    <div class="sequence form-switch">
                        <p class="col-auto"> Sample 2 </p>
                        <input class="col-auto displayButton form-check-input" type="checkbox" role="switch"/>
                    </div>
                    <div class="sequence form-switch">
                        <p class="col-auto"> Sample 3 </p>
                        <input class="col-auto displayButton form-check-input" type="checkbox" role="switch"/>
                    </div>
                    <div class="sequence form-switch">
                        <p class="col-auto"> Sample 4 </p>
                        <input class="col-auto displayButton form-check-input" type="checkbox" role="switch"/>
                    </div>
                    <div class="sequence form-switch">
                        <p class="col-auto"> Sample 5 </p>
                        <input class="col-auto displayButton form-check-input" type="checkbox" role="switch"/>
                    </div>
                    <div class="sequence form-switch">
                        <p class="col-auto"> Sample 6 </p>
                        <input class="col-auto displayButton form-check-input" type="checkbox" role="switch"/>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <!--<div class="midPanel align-items-center">-->
                <div class="midPanel">
                  <div id="gosling-container"/>
                </div>
            </div>
            <!--<div class="col-3">
                <div class="rightPanel align-items-center">
                </div>
            </div>-->
        </div>
    </div>


    <script>
var y = {
  "title": "Ejemplo básico de visualización de datos en Gosling",
  "views": [
    {
      "layout": "circular",
      "tracks": [
        {
          "data": {
            "type": "json",
            "values": [
              {"x": 1, "y": 5},
              {"x": 2, "y": 5},
              {"x": 3, "y": 5},
              {"x": 4, "y": 5},
              {"x": 5, "y": 5}
            ]
          },
          "mark": "line",
          "x": {"field": "x", "type": "genomic", "domain": {"interval": [0, 10]}},
          "y": {"field": "y", "type": "quantitative"}
        }
      ]
    }
  ]
}

var z = {
  "views": [
    {
      "layout": "circular",
      "tracks": [
        {
          "alignment": "overlay",
          "data": {
            "url": "https://server.gosling-lang.org/api/v1/tileset_info/?d=cistrome-multivec",
            "type": "multivec",
            "row": "sample",
            "column": "position",
            "value": "peak",
            "categories": ["sample 1", "sample 2", "sample 3", "sample 4"]
          },
          "x": {"field": "start", "type": "genomic"},
          "y": {"field": "peak", "type": "quantitative"},
          "row": {"field": "sample", "type": "nominal"},
          "color": {"field": "sample", "type": "nominal"},
          "tracks": [
            {"mark": "bar"}
          ]
        }
      ]
    }
  ]
}

var x = {
  "title": "Ejemplo básico de visualización de datos en Gosling",
  "views": [
    {
      "layout": "circular",
      "tracks": [
        {
          "data": {
            "type": "json",
            "values": [
              {"x": 1, "y": 5},
              {"x": 2, "y": 5},
              {"x": 3, "y": 5},
              {"x": 4, "y": 5},
              {"x": 5, "y": 5}
            ]
          },
          "mark": "line",
          "x": {"field": "x", "type": "genomic"},
          "y": {"field": "y", "type": "quantitative"}
        }
      ]
    }
  ]
}
      gosling.embed(
        document.getElementById('gosling-container'), x
      );
    </script>
</body>
</html>
